html, body{
    min-width: 960px;
    /*min-height: 1750px;*/
    margin: 0;
    padding: 0;
    font-size: 12px;
}
h1{
    /*margin: 0;*/
}
figure{
    margin: 0;
}

/*дополнительные блоки----------------*/
.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*----------------------------------------
index page
----------------------------------------*/

/*блок шапки--------------------------*/
.main-header{
    width: auto;
}
.main-navigation{
    float: left;
    width: 780px;
    height: 70px;
}
.user-block{
    float: right;
    width: 140px;
    height: 70px;
}

/*блок лого----------------------------*/
.logo-block{
    width: 316px;
    height: 164px;
    margin: 40px auto 80px auto;
}

/*блок функции-------------------------*/
.features-item{
    float: left;
    width: 300px;
    margin-bottom: 80px;
}
.features-item:nth-child(1),
.features-item:nth-child(2){
    margin-right: 20px;
}
.features-item p{
    text-transform: uppercase;
}

/*блоки - новости и галерея----------------*/
.index-content-left{
    float: left;
    width: 380px;
    height: 315px;
    margin: 55px 80px 50px 80px;
}
.index-content-right{
    float: right;
    width: 300px;
    height: 315px;
    margin: 55px 80px 50px 0;
}

/*блоки - инфа и запись-----------------------*/



/*футер--------------------------------------*/
.Footer-contacts{
    float: left;
    width: 320px;
    height: 90px;
    margin: 60px 0 40px 0;
}
.footer-social{
    float: left;
    width: 140px;
    height: 90px;
    margin: 60px 0 40px 80px;
}
.footrer-copyright{
    float: right;
    width: 140px;
    height: 90px;
    margin: 60px 0 40px 0;
}


/*----------------------------------------
shop page
----------------------------------------*/
/*заголовок и крошки-------------------------------*/
.block-header{
    padding: 55px 0;
}
.Breadcrumbs{
    margin: 20px 0 0 0;
}

/*фильтр и карточки товара-------------------*/
.filter{
    float: left;
    width: 220px;
    height: 595px;
}
.product{
    float: right;
    width: 700px;
    height: 595px;
}

/*пагинация--------------------------------*/
.pagination{
    width: auto;
    height: 136px;
    padding: 45px 0 50px 0;
}


/*-----------------------------
price page
------------------------------------------------*/

/*заголовок---------------------------------*/
.price-header{
    margin: 0 auto;
    width: 620px;
    height: 35px;
}
/*список и таблица-------------------*/
.price-content-left{
    float: left;
    width: 460px;
    height: 215px;
}
.price-content-right{
    float: right;
    width: 460px;
    height: 215px;
}
/*о нас--------------------------------------*/
.about-content{
    padding: 65px 0 80px 0;
}
.about-content-left{
    float: left;
    width: 460px;
    height: 145px;
}
.about-content-right{
    float: right;
    width: 460px;
    height: 145px;
}

/*-----------------------------
item page
------------------------------------------------*/
.producy-item{
    width: 460px;
}
.product-description{
    width: 390px;
}
.item-left{
    float: left;
}
.item-center{
    float: left;
}
.item-right{
    float: right;
}

/*------------------------
Системное оформление
-------------------------*/

body{
    padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
    position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before{
    content: "";
    position: absolute;
    height: 24px;
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    font-family: "Courier New", monotype;
    white-space: nowrap;
}

body > *::before {
    top: 3px;
    left: 3px;
}
body > * > *::before {
    top: 3px;
    left: 3px;
}
body > * > * > *::before {
    top: 3px;
    left: 3px;
}

body > * {
    color: white;
    background: green;
}
body > * > *{
    color: white;
    background: red;
}
body > * > * > *{
    color: white;
    background: yellow;
}

body > *{
    background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px green;
}
body > * > *{
    background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px red;
}
body > * > * > *{
    background: rgba(0, 128, 0, 0.2);
    box-shadow: 0 0 0 3px yellow;
}
/*------------------------
Системное оформление
-------------------------*/
